version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: pilisandara-rabbitmq
    restart: unless-stopped
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - pilisandara-net

  user-service:
    build:
      context: ./services/user-service
      dockerfile: Dockerfile
    container_name: pilisandara-user-service
    restart: unless-stopped
    ports:
      - "4001:4001"
    env_file:
      - ./services/user-service/.env
    depends_on:
      - rabbitmq
    networks:
      - pilisandara-net

networks:
  pilisandara-net:
    name: pilisandara-net
