# User Service (domain DB only, NOT auth DB)
NODE_ENV=development
PORT=4001

# Domain database (Neon) - backend only
DATABASE_URL="postgresql://neondb_owner:npg_IFXyPMtH5QL7@ep-hidden-smoke-adbph3o6-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# RabbitMQ
RABBITMQ_URL="amqp://guest:guest@localhost:5672"
RABBITMQ_EXCHANGE="events"

